body {
	background-color:#fff;
	font-family:"Helvetica", "Arial", sans-serif;
}
a {
	color:#62bd18;
}
a:hover {
	color:#4e9613;
}
h1 {
	font-size:36px;
}
h3 {
	color:#666;
}
th {
	padding:10px;
	color:#666;
	font-size:14px;
	text-transform:uppercase;
}
td {
	padding:10px;
	border:1px solid #ddd;
}
sub{
	color:#fc0101;
	font-size:13px;
	font-weight:bold;
}



input[type="radio"]{
margin-top:-25px;

}
/* ----------------------------------------------------------
   FRONT PAGE
   ---------------------------------------------------------- */

#front-header-index {
	width:50%;
	min-width:300px;
	margin:10px auto;
	text-align:center;
}   
   
   
#front-header {
	width:50%;
	min-width:300px;
	margin:10px auto;
	text-align:center;
	padding-top:150px;
	margin-left:350px;
}


#buttons-index {
	width:20%;
	min-width:300px;
	margin:20px auto;
	border:1px solid #ccc;
	padding:10px 20px;
	border-radius:10px;
}
#buttons-index>div {
	width:100%;
	height:60px;
	background-color:#eee;
	text-align:center;
	margin:10px auto;
}
#buttons-index>div>a {
	display:block;
	color:#62bd18;
	font-weight:bold;
	font-size:24px;
	text-decoration:none;
	text-transform:uppercase;
	padding:20px;
}
#buttons-index>div:hover {
	background-color:#ddd;
}
#buttons-index>div>a:hover {
	color:#4e9613;
}
























#buttons {
	width:20%;
	min-width:300px;
	margin:20px auto;
	padding:10px 20px;
	border-radius:10px;
	float:left;	
	margin-left:150px;
	margin-top:70px;
}
#buttons>.nav-bar  {
	width:100%;
	height:60px;
	background-color:#eee;
	text-align:center;
	margin:10px auto;
}
#buttons>.nav-bar >a {
	display:block;
	color:#62bd18;
	font-weight:bold;
	font-size:22px;
	text-decoration:none;
	text-transform:uppercase;
	padding:20px;
}
#buttons>.nav-bar :hover {
	background-color:#ddd;
}
#buttons>.nav-bar >a:hover {
	color:#4e9613;
}




#buttons2 {
	width:20%;
	min-width:300px;
	margin:20px auto;
	padding:10px 20px;
	border-radius:10px;
	float:right;
	margin-top:65px;
	margin-right:150px;
}
#buttons2>.nav-bar2 {
	width:100%;
	height:60px;
	background-color:#eee;
	text-align:center;
	margin:10px auto;
}
#buttons2>.nav-bar2>a {
	display:block;
	color:#62bd18;
	font-weight:bold;
	font-size:22px;
	text-decoration:none;
	text-transform:uppercase;
	padding:20px;
}
#buttons2>.nav-bar2:hover {
	background-color:#ddd;
}
#buttons2 .nav-bar2>a:hover {
	color:#4e9613;
}

/* ----------------------------------------------------------
   INSIDE PAGES
   ---------------------------------------------------------- */

header {
	width:150px;
	margin:0;
	background-color:#62bd18;
	height:100vh;
	position:fixed;
}
.home-link {
	display:block;
	text-align:center;
	font-weight:bold;
	color:#fff;
	margin:18px;
	padding-left:15px;	
	text-decoration:none;
	text-align:left;
}
.active {
	color:#4e9613;
}
.home-link img{

		margin-left:-18px;	

}
.add-button {
	background-color:#62bd18;
	width:100px;
	height:28px;
	margin:8px 0;
	border-radius:5px;
}
.on-top {
	margin:20px 0 10px;
}
.on-bottom {
	display:inline-block;
	margin-left:20px;
}
.add-button:hover {
	background-color:#4e9613;
}
.add-button a {
	color:#fff;
	font-size:12px;
	font-weight:bold;
	display:block;
	padding:8px;
	text-align:center;
	text-decoration:none;
}
.cancel-custom{
float:right;
margin-right:120px;
margin-top:-40px;
}
#image
{
margin-left:8px;

}
   #upload {
      border: solid 3px #ccc;
    }

    .preview-image {
      display: block;
      margin: 10px 0;
      border: solid 3px #aaa;
      padding: 1px;
      background: #fff;
    }


.table-navigation {
	margin:20px 0;
	font-size:12px;
	text-transform:uppercase;
}
.table-title,
.table-title a {
	text-decoration:none;
	font-weight:bold;
}
.table-date {
	font-size:12px;
	text-align:right;
}
.table-preview {
	font-size:12px;
}
.table-operations {
	text-align:center;
	font-size:12px;
	color:#999;
}

/* ----------------------------------------------------------
   NEWS PAGE
   ---------------------------------------------------------- */

#inside-page {
	margin-left:200px;
	padding-top:10px;
}
.inside-actions {
	margin:20px 0;
	font-size:12px;
	text-transform:uppercase;
}

/* ----------------------------------------------------------
   EDIT PAGE
   ---------------------------------------------------------- */

form {
	width:600px;
}
form>input {
	width:300px;
	margin-bottom:20px;
}
form>textarea {
	width:600px;
	margin-bottom:20px;
	font-family:"Helvetica", "Arial", sans-serif;
}
.form-controls {
	text-align:right;
	font-size:12px;
	text-transform:uppercase;
}

/* ----------------------------------------------------------------
   PAGINATION
   ----------------------------------------------------------------   */
   
   
   
 .pagNumActive {
    color: #000;
    border:#060 1px solid; background-color:#62bd18; padding-left:3px; padding-right:3px;
}
.paginationNumbers a:link {
    color: #000;
    text-decoration: none;
    border:#999 1px solid; background-color:#F0F0F0; padding-left:3px; padding-right:3px;
}
.paginationNumbers a:visited {
    color: #000;
    text-decoration: none;
    border:#999 1px solid; background-color:#F0F0F0; padding-left:3px; padding-right:3px;
}
.paginationNumbers a:hover {
    color: #000;
    text-decoration: none;
    border:#060 1px solid; background-color: #D2FFD2; padding-left:3px; padding-right:3px;
}
.paginationNumbers a:active {
    color: #000;
    text-decoration: none;
    border:#999 1px solid; background-color:#F0F0F0; padding-left:3px; padding-right:3px;
} 
   
   
   
/* -----------------------------------------------------------------
                              Log in style
   --------------------------------------------------------------- */

#login_form{
	color:#62bd18;
	font-size:14px;
	margin-left:20px;
}

#login_field{
	width:250px;
	height:20px;
	margin-top:5px;
}
